common --isatty=1
build --announce_rc
build --spawn_strategy=local
build --verbose_failures
build --apple_platform_type=macos
build --compilation_mode=dbg
build --experimental_multi_threaded_digest
build --verbose_failures
