startup --output_base=./bazel-output-base

common --enable_bzlmod

build --announce_rc
build --spawn_strategy=local
build --strategy=SwiftCompile=worker
build --verbose_failures
build --compilation_mode=fastbuild
build --verbose_failures

common:ci --isatty=1
common:ci --terminal_columns=127

try-import %workspace%/.env_bazelrc