bazel-*
.DS_Store
IntegrationTests/Pods
IntegrationTests/BUILD.bazel
IntegrationTests/Podfile
IntegrationTests/Podfile.lock
BazelPods.xcodeproj
xcodeproj/BazelPods.xcodeproj
Tests/Podfile
Tests/Podfile.lock
Tests/Pods
.env_bazelrc
xcodeconfig/BUILD.bazel
